@CHARSET "ISO-8859-1";
@import url("reset.min.css");

@font-face {
    font-family: "PoetsenOne-Regular";
    src: url("../enviar/Fonte/Poetsen%20One/PoetsenOne-Regular.ttf");
}


html, body {
    height: 100%;
    overflow: hidden;

}

body {
    font-size: 62.5%;
    font-family: 'Roboto', tahoma, sans-serif;
}

ul, li {
    list-style: none;
}

.clear {
    clear: both;
}

#containner {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #2c9edd;
}

#wrap {
    position: relative;
    display: block;
    width: 100%;
    max-width: 770px;
    height: 100%;
    margin: auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, .2);
    z-index: 100;
}


ul {
    height: 100%;
}


header {
    position: relative;
    display: block;
    width: 100%;
    min-height: 40px;
    line-height: 40px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: #2f87de;
    font-family: tahoma!important;
}

header #btVoltar
{
    margin-left: 12px;
}

header #btVoltar a:link, header #btVoltar a:visited, header #btVoltar a:active
{
    text-decoration: none;
    font-size: 1.4em;
    color: #ccc;
}

header #btVoltar a:hover
{
    color: #FFF;
}



.buttonSelect {
    -moz-box-shadow: inset 0px 1px 0px 0px #2F87DE;
    -webkit-box-shadow: inset 0px 1px 0px 0px #2F87DE;
    box-shadow: inset 0px 1px 0px 0px #2F87DE;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #2F87DE), color-stop(1, #2267C2));
    background: -moz-linear-gradient(center top, #2267C2 5%, #2F87DE 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2F87DE', endColorstr='#2267C2');
    background-color: #2267C2;
    -webkit-border-top-left-radius: 0px;
    -moz-border-radius-topleft: 0px;
    border-top-left-radius: 0px;
    -webkit-border-top-right-radius: 0px;
    -moz-border-radius-topright: 0px;
    border-top-right-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
    -moz-border-radius-bottomright: 0px;
    border-bottom-right-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    -moz-border-radius-bottomleft: 0px;
    border-bottom-left-radius: 0px;
    text-indent: 0;
    border: 1px solid #2267C2;
    color: #ffffff;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    height: 100%;
    line-height: 15px;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    text-shadow: 1px 1px 0px #287ace;
    padding-left: 10px !important;
    padding-right: 10px !important;
    cursor: pointer;
}


#placeHolderButtons {
    position: relative;
    bottom:0px;
    background-color: #ffffff;
    width: 100%;
    z-index: 999999;
}

#placeHolderButtons button {
    position: relative;
    max-height: 55px !important;
    height: 55px;
    float: left;
    max-width: 100%;
    width: 100%;
}

#content{
    position: relative;
    background-color: #77CAEA;
    padding-top:10px;
    padding-bottom:10px;
}

.inputSelectBox{
    width: 100%;
    height: 24px!important;
    background-color: #ffffff
}

.inputDay{
    width: 18%;
    margin-right:10px;
}

.inputMonth{
    width: 18%;
    margin-right:10px;
}

.inputYear{
    width: 18%;
}

.divMaritalStatus{
    width: 45%;
}

.divName{
    width: 100%;
}

.divEmail{
    width: 100%;
}

.divAge{
    width: 45%;
}
.divOccupy{
    position: absolute;
    margin-left:50%;
    margin-right:20px;
    width: 46%
}

.divGender{
    position: absolute;
    margin-left:50%;
    margin-right:20px;
    width: 47%;
    margin-bottom: 10px;
}

.divCelphone{
    position: absolute;
    margin-left:50%;
    margin-right:20px;
    width: 100%;
    margin-bottom: 10px;
}

.inputDDDCel{
    width:9%;
    margin-right:10px;
}

.inputDDDPhone{
    width: 18%;
    margin-right:10px;
 }

.inputCelphone{
    width: 34.5%;
}

.inputPhone{
    width: 65%;
}

.inputOccupy{
    width: 100%;
}


.divPhone{
    width: 50%;
}

.divRightHolder{
    position:relative;

    margin-bottom:-130px;"
}

.inputProperties{
    border:2px solid #438ACF;
    padding-left:2px;
    height: 18px;

}

.box{
    background-color: #ffffff;
    border:3px solid #5193D1;
    border-radius: 10px;
    width: 97%!important;
    font-size: 13px;
    color:#5193D1;
    z-index:99999;
    font-family: PoetsenOne-Regular;
    margin-left:10px;
    display: block;
    position: relative;

}

.divPadding{
    padding-bottom:10px;
    padding-left:20px;
    padding-right: 10px;
}

.inputWidth{
    width: 93%;
    margin-right:0px;
    position: relative;
}

.divBanner{
    width: 100%;
    margin-top:0;
    background-image: url('../enviar/imagens/BEACH_PARK_350.jpg');
    background-repeat: no-repeat;
    background-position: 0px -80px;
    background-size: cover;
    position: relative;
}

.bannerText{
    font-family: PoetsenOne-Regular;
    font-size:40px;
    color: white;
    text-shadow: 0px 3px 2px rgb(2, 2, 2);
    margin-left:15px;
    position: absolute;
    z-index:10;
}

.acessNet{
    color: #2267C2;
    margin-bottom:-5px;
    margin-right:5px;
    font-size:12px;
    float:right;
}


@media only screen
and (max-device-height: 480px) {
    #carousel ul li #placeHolderImage {
        height: 237px;
    }

}

@media only screen
and (min-device-height: 481px)
and (max-device-height: 650px) {
    #carousel ul li #placeHolderImage {
        height: 337px;
    }

    .divBanner{
        background-position: 0px -35px;
    }

    .bannerText{
        font-size:18px;
        margin-top:0px;
    }

    .box{
        width: 92%!important;
        font-size:12px;
    }

    .divPadding{
        padding-bottom:10px;
        padding-left:11px;
        padding-right: 10px;
    }

    .inputWidth{
        width: 88%;
    }

    .inputCelphone{
        width: 25%;
    }

    .inputDDDCel{
        width: 10%;
    }

    .inputPhone{
        width: 45%;
    }

    .divMaritalStatus{
        width: 42%;
    }

    .divGender{
        width: 45%;
    }

    .divOccupy{
        width: 42%
    }
    .acessNet{
        font-size:8px;
        margin-top:2px;
        margin-bottom:-5px;
    }

}

@media only screen
and (min-device-height: 651px)
and (max-device-height: 720px) {
    #carousel ul li #placeHolderImage {
        height: 377px;
    }
}

@media only screen
and (min-device-height: 721px)
and (max-device-height: 850px) {
    #carousel ul li #placeHolderImage {
        height: 387px;
    }
}

@media only screen
and (min-device-height: 851px){
    #carousel ul li #placeHolderImage {
        height: 700px;
    }
}



